@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');


.main {
  background-color: #FEF9F9;
 height:100%;
 font-family: 'Spectral', serif;
  text-align: center;



  overflow-clip-margin: content-box;
    overflow: clip;
   

  
}
.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.sideMenu
{
  background-color: transparent;
}

.sideMenu ul{

  
 
  
  position: fixed;
  top: 0px;
  right: 0;
  width: 50%;
  height:100%;
  padding: 0px;
 
  
  
}





.sideMenuList a
{ 
 color: black;
 text-decoration: none;

}

.sideMenuList a:hover {
  color: #8b8888;
  transition: color 2s ease;

  opacity: 0;
  
  animation: slide-in-left 2s forwards;
  
}
@keyframes slide-in-left {
  from {
    opacity: 0;
 
  }
  to {
    opacity: 1;
    
  }
  
}


.sideMenuList li
{ 
  text-align: right;
 margin-top: 5%;
padding-right:5%;


}
.imagen {
  
  width: 50%;
  height: auto;
  
}
@media screen and (max-width: 599px) {

  .sideMenuList{
    font-size: 100%;
    margin-top:50%;
  }
  .imagen {
    width:80%;
    margin-top:40%;
    overflow: visible;
  }
}

@media screen and (min-width: 600px) {


  .sideMenuList{
    font-size: 300%;
  }
}