@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.main {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
min-height: 250vh;
min-width: 10px; 

max-width: 100%;
background-color: #FEF9F9;
background-size: 100%;

}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  border: 6px solid rgba(0, 0, 0, 0.734);
  color:rgba(0, 0, 0, 0.778);
  top:px;
  width: 520px;
  height: 120px;
  
  font-size: 42px;
  filter: blur(0.4px);

  margin: 0px;
  text-shadow:  -10px -5px 10px rgba(0, 0, 0, 0.419);
  box-shadow: -10px -6px 10px rgba(0, 0, 0, 0.338);
  outline: 2px solid rgba(239, 239, 239, 0.038);
  outline-offset: -2px;
  transform: translate(250px,-750px);
 
}
.title {
  font-family: 'Raleway', sans-serif;
  margin:0px;
}

.subtitle {
  font-size: 20px;
  margin: -10px;
  color:rgba(0, 0, 0, 0.816);
  text-shadow:  -10px -5px 10px rgba(0, 0, 0, 0.419);
  
}

.image {
  position: absolute;
  top:180px;
  left:140px;
  width: 250px;
  height: 250px;
    width: 200px;
    height: 200px;
    
    filter: drop-shadow(-10px -5px 10px rgba(0, 0, 0, 0.419));
  
    padding: 0;
    margin: 0;
 
 
  
}



.image2 {
  position:absolute;
  transform: translate(20px,-820px);
 
}
.center{
  transform: translate(0px,600px);
}
.centerright,
.centerleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card,
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  width: 450px;
  height: 200px;
}

.card:hover,
.card2:hover {
  transform: scale(1.05);
}

.card h2,
.card2 h2 {
  font-size: 50px;
  margin-bottom: 0.7rem;
  justify-content: space-around;
  font-style: inherit;
}

.card p,
.card2 p {
  margin: 0;
  justify-content: space-around;
  font-size: 20px;
  line-height: 1.5;
  max-width: 30ch;
  font-style: inherit;
}
