
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');


.main {
  background-color: #FEF9F9;
 height:100%;
 font-family: 'Spectral', serif;
  text-align: center;



  overflow-clip-margin: content-box;
    overflow: clip;
   

  
}
.mainvisual{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.center {
  
  height:200vh;
}

.card {
  
  width: 300px;
  
}
.card h2{
 
  font-family: 'Spectral', serif;
  font-weight: bolder;
  font-size: 4vw;
  text-align: left;
  padding-left:2vw;
  padding-top: 1.5vw;
  

}
.card p{
  font-family:  'Spectral', serif;
  padding-top: 5vw;
  padding-left:3vw;
  font-weight: lighter;
  font-size: 2vw;
  text-align: left;
}
.sideMenu
{
  background-color: transparent;
}

.sideMenu ul{

  
 
  
  position: fixed;
  top: 0px;
  right: 0;
  width: 50%;
  height:100%;
  padding: 0px;
 
  
  
}





.sideMenuList a
{ 
 color: rgb(21, 21, 21);
 text-decoration: none;

}

.sideMenuList a:hover {
  color: #8b8888;
  transition: color 2s ease;

  opacity: 0;
  
  animation: slide-in-left 2s forwards;
  
}
@keyframes slide-in-left {
  from {
    opacity: 0;
 
  }
  to {
    opacity: 1;
    
  }
  
}


.sideMenuList li
{ 
  text-align: right;
 margin-top: 5%;
padding-right:5%;


}
.imagen {
  top: 10%;
  width: 50%;
  height: auto;
  
}
@media screen and (max-width: 599px) {

  .sideMenuList{
    font-size: 5vw;
    margin-top:10%;
  }
  .imagen {
    width:80%;
    
    overflow: visible;
  }
}

@media screen and (min-width: 600px) {


  .sideMenuList{
    font-size: 300%;
  }
}